{"Defaults":{"solid":"Collide","trigger":"Trigger","ladder":"Ignore","water":"Trigger"},"Pairs":[{"a":"solid","b":"solid","r":"Collide"},{"a":"trigger","b":"playerclip","r":"Ignore"},{"a":"trigger","b":"solid","r":"Trigger"},{"a":"playerclip","b":"solid","r":"Collide"}],"__guid":"20a6ceec-a9bd-46cd-8302-d5f9b77c4486","__schema":"configdata","__type":"CollisionRules","__version":1}